@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;
}

h1 {
    margin-left: 30px;
    margin-bottom: 25px;
}

.form {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 1.7rem;
    margin-left: 34px;
    margin-right: 34px;
    border-radius: 30px;
}

.title {
    margin-left: 2px;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #ff0000a4;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

select {
    background-color: #fff;
    color: #000;
    margin: 0.6rem 0;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

select option {
    background-color: #fff;
    color: #000;
    font-size: 0.8rem;
    font-weight: 500;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #2b2a2a;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.horario {
    margin-top: 15px;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    border: none;
    background-color: #ff0000a4;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-top: 20px;
}

.continue-button button:hover {
    background-color: #ff0000d0;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {

    .img-gustavo {
        width: 250px;
        height: 90%;
        object-fit: cover;
    }

    .form {
        width: 85%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fffffff6;
        padding: 1.7rem;
    }


    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 2rem;
        max-height: 22rem;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
        margin-left: 30px;
    }
    .gender-input {
        margin-top: 0.5rem;
    }

    @keyframes button-grow-shrink {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    
    .button-grow {
        animation: button-grow-shrink 0.6s ease;
    }
}

@media screen and (max-width: 370px) {
    .form {
        width: 85%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 1.7rem;
    }

    .horario {
        margin-top: 8px;
    }

    .form-header {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    .continue-button button {
        width: 100%;
        margin-top: 0.2rem;
        border: none;
        background-color: #ff0000a4;
        padding: 0.40rem;
        border-radius: 5px;
        cursor: pointer;
    }

    .input-box input {
        margin: 0.3rem 0;
        padding: 0.8rem 1.2rem;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 6px #0000001c;
        font-size: 0.8rem;
    }

    .gender-inputs {
        margin-top: 0rem;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 430px) {

    .form {
        width: 85%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 1.7rem;
    }

    .horario {
        margin-top: 8px;
    }

    .form-header {
        display: flex;
        justify-content: space-between;
    }

    .continue-button button {
        width: 100%;
        margin-top: 25px;
        border: none;
        background-color: #ff0000a4;
        padding: 0.40rem;
        border-radius: 5px;
        cursor: pointer;
    }

    .input-box input {
        margin: 0.3rem 0;
        padding: 0.8rem 1.2rem;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 6px #0000001c;
        font-size: 0.8rem;
    }

    .gender-inputs {
        margin-top: 0rem;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 414px) {

    .form {
        width: 85%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 1.7rem;
    }

    .form-header {
        display: flex;
        justify-content: space-between;
    }

    .continue-button button {
        width: 100%;
        margin-top: 25px;
        border: none;
        background-color: #ff0000a4;
        padding: 0.40rem;
        border-radius: 5px;
        cursor: pointer;
    }

    .input-box input {
        margin: 0.3rem 0;
        padding: 0.8rem 1.2rem;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 6px #0000001c;
        font-size: 0.8rem;
    }

    .input-group {
        padding: 0px;
        padding-right: 1.5rem;
    }

    .title {
        margin-left: 2px;
        margin-bottom: 20px;
    }

    .gender-inputs {
        margin-top: 0rem;
        margin-bottom: 10px;
    }
}